.Seat {
	all: unset;
	width: 25px;
	height: 25px;
	border-radius: 4px;
	background: linear-gradient(145deg, #f2f2f2, #e6e6e6);
	cursor: pointer;
}

.Seat:not(.Seat:disabled):hover {
	background: linear-gradient(145deg, #e84849, #c33c3d);
}

.selected {
	background: linear-gradient(145deg, #e84849, #c33c3d);
}
