.Admin form,
.ScreeningForm form {
	margin: 0.5rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: start;
	gap: 0.5rem;
}

.Admin form button {
	margin: 0.5rem 0;
	display: block;
}

.Admin section {
	display: flex;
	justify-content: space-between;
}
.Admin section article {
	width: 30%;
	border-radius: 5px;
	padding: 0.5rem;
	background: linear-gradient(145deg, #1d1d1d, #181818);
}

.ScreeningForm form select {
	width: 100%;
}
